input:valid,
select:valid,
textarea:valid{
    background-color: palegreen;
    transition: all .2s ease-in-out;
}
input:invalid,
input:invalid::placeholder,
select:invalid,
textarea:invalid,
textarea:invalid::placeholder{
    background-color: red;
    color: white;
    opacity: 1;
    transition: all .2s ease-in-out;
}
input:invalid:-ms-input-placeholder,
textarea:invalid:-ms-input-placeholder{
    color: white;
}
input:invalid::-ms-input-placeholder,
textarea:invalid::-ms-input-placeholder{
    color: white;
}

input[type="checkbox"]:checked ~ td{
    box-shadow: 0 0 0 3px rgb(255, 166, 0);
    background-color: palegreen;
}
input, textarea, select{
    font-size: 2vw;
}
input.text, select{
    width: 100%;
}
input.fechahora{
    content: center;
}
input.check{
    width: 25px;
    height: 25px;
}
textarea{
    width: 100%;
    text-align: center;
}