.oculto {
    visibility: hidden;
}
.desaparece{
    display: none;
}
/* Color de fondo */
.bg-rojo{
    background-color: rgba(255, 0, 0, 0.5);
}
.bg-amarillo{
    background-color: rgba(255, 255, 0, 0.5);
}
.bg-verde{
    background-color: rgba(0, 255, 0, 0.5);
}
.bg-azul{
    background-color: rgba(0, 0, 255, 0.5);
}
.sbg-rojo{
    background-color: rgb(255, 0, 0);
}
.sbg-amarillo{
    background-color: rgb(255, 230, 0);
}
.sbg-verde{
    background-color: rgb(0, 255, 0);
}
.sbg-azul{
    background-color: rgb(0, 0, 255);
}

/* Color de contenido */

.c-rojo {
    color: rgb(255, 0, 0);
}
.c-amarillo {
    color: rgb(255, 230, 0);
}
.c-verde {
    color: rgb(0, 255, 0);
}
.c-azul {
    color: rgb(0, 0, 255);
}

/* Tamaño de fuentes */

.fs-1px {
    font-size: 1px;
}
.fs-2px {
    font-size: 2px;
}
.fs-3px {
    font-size: 3px;
}
.fs-4px {
    font-size: 4px;
}
.fs-5px {
    font-size: 5px;
}
.fs-6px {
    font-size: 6px;
}
.fs-7px {
    font-size: 7px;
}
.fs-8px {
    font-size: 8px;
}
.fs-9px {
    font-size: 9px;
}
.fs-10px {
    font-size: 10px;
}
.fs-11px {
    font-size: 11px;
}
.fs-12px {
    font-size: 12px;
}
.fs-13px {
    font-size: 13px;
}