{% extends 'baseCuenta.html' %}
{% load static %}

{% block titulo %}
    Generar Reporte
{% endblock titulo %}

{% block contenido %}
<form action="{% url 'reportesMaqman:generarReport' %}" method="POST"> {% csrf_token %}
    <table>
        <h1>Generar Reporte</h1>
        <th class="first" colspan="4">Control de Equipos</th>
        <tr>
            <td>Cliente:</td>
            <td colspan="3">{{ form.cliente }}</td>
        </tr>
        <tr>
            <td>Obra:</td>
            <td colspan="3">{{ form.obra }}</td>
        </tr>
        <tr>
            <td>Fecha:</td>
            <td>{{ form.fecha }}</td>
            
            {% if user.r_id_rol.id_rol == 1 %}
                <td colspan="2">Operador:<input style="background-color: palegreen;"class="text" type="text" name="nombre_usuario"  id="id_nombre_usuario" value="{{ user.p_id_persona.nombres }} {{ user.p_id_persona.apellido_paterno }} {{ user.p_id_persona.apellido_materno }}" readonly></td>
                <input type="hidden" name="p_id_persona"  value="{{ user.p_id_persona.id_persona }}">
            {% else %}
                <td colspan="2">Operador: 
                    <select class="text" name="idUsuarioSelect" class="form-control" required name="nombre_usuario" id="id_nombre_usuario" onchange="changeFunc();">
                        <option value>- Elegir Operador -</option>
                        {% for o in operadores %}
                        <option value="{{ o.p_id_persona.id_persona }}">{{ o.p_id_persona.nombres }} {{ o.p_id_persona.apellido_paterno }} {{ o.p_id_persona.apellido_materno }}</option>
                        {% endfor %}
                    </select>
                <div id="idUsuarioInput"></div>
            {% endif %}
                
        </tr>
        <th colspan="4">Horómetro</th>
        <tr>
            <td>Hora Ingreso:</td>
            <td>{{ form.hora_ingreso }}</td>
            <td>Horómetro Inicial:</td>
            <td>{{ form.horometro_inicial }}</td>
        </tr>
        <tr>
            <td>Hora Término:</td>
            <td>{{ form.hora_termino }}</td>
            <td>Horómetro Final:</td>
            <td>{{ form.horometro_final }}</td>
        </tr>
        <tr>
            <td>N° Horas Arriendo:</td>
            <td id="horasArriendo">{{ form.horas_arriendo }}</td>
            <td>Horómetro Total:</td>
            <td id="horometroTotal">{{ form.horometro_total }}</td>
        </tr>
        <tr>
            <td>Equipo N°:</td>
            <td>{{ form.equipo_numero }}</td>
            <td>Hora Mínima:</td>
            <td>{{ form.hora_minima }}</td>
        </tr>
        <th colspan="4">Accesorios</th>
        {% for a in accesorios %}
            
            {% if a.id_accesorio == 1 or a.id_accesorio == 3 %}
            <tr>
                <td id="am{{a.id_accesorio}}" colspan="2">
                    <input onclick="ChangeColColor(this,'am{{a.id_accesorio}}')" class="check" type="checkbox" name="accesorios" id="accesorio_{{ a.id_accesorio }}" value="{{ a.id_accesorio }}">{{ a.accesorio_minicargador }}
                </td>
            {% else %}
                <td id="am{{a.id_accesorio}}" colspan="2">
                    <input onclick="ChangeColColor(this,'am{{a.id_accesorio}}')" class="check" type="checkbox" name="accesorios" id="accesorio_{{ a.id_accesorio }}" value="{{ a.id_accesorio }}">{{ a.accesorio_minicargador }}
                </td>
            </tr>
            {% endif %}
            
        {% endfor %}
            
        <th colspan="4">Observaciones</th>
        <tr>
            <td colspan="4">{{ form.observaciones }}</td>
        </tr>
    </table>
    <table>
        <tr>
            <style>
                input.file{
                    /* display: none; */
                    font-size: 1vw;
                    border: 1px solid black;
                    border-radius: 20px;
                    cursor: pointer;
                    margin-left: 20px;
                }
                input.file::file-selector-button{
                    display: none;
                    /* visibility: hidden; */
                }
                /* td.td-img{
                    width: 200px;
                } */
                td.td-img:hover{
                    background-color: orange;
                }
                label{
                    /* color: white; */
                    text-align: center;
                    font-size: 2vw;
                    cursor: pointer;
                }
            </style>
            <td class="td-img">
                <label for="id_img_report">
                    <center>
                        Reporte físico
                        <br>
                        <img src="" alt="" id="imgReport" height="150px" width="150px">
                        <!-- <svg preserveAspectRatio="none" width="4vw" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.02 5H19V2.98c0-.54-.44-.98-.98-.98h-.03c-.55 0-.99.44-.99.98V5h-2.01c-.54 0-.98.44-.99.98v.03c0 .55.44.99.99.99H17v2.01c0 .54.44.99.99.98h.03c.54 0 .98-.44.98-.98V7h2.02c.54 0 .98-.44.98-.98v-.04c0-.54-.44-.98-.98-.98zM16 9.01V8h-1.01c-.53 0-1.03-.21-1.41-.58-.37-.38-.58-.88-.58-1.44 0-.36.1-.69.27-.98H5c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-8.28c-.3.17-.64.28-1.02.28-1.09-.01-1.98-.9-1.98-1.99zM15.96 19H6c-.41 0-.65-.47-.4-.8l1.98-2.63c.21-.28.62-.26.82.02L10 18l2.61-3.48c.2-.26.59-.27.79-.01l2.95 3.68c.26.33.03.81-.39.81z"></path>
                        </svg> -->
                        <input class="file" required type="file" name="img_report" id="id_img_report" value="null" accept="image/png, image/jpg, image/gif, image/jpeg">
                    </center>
                </label>
            </td>
            <td class="td-img">
                <label for="id_img_maquinaria">
                    <center>
                        Maquinaria
                        <br>
                        <img src="" alt="" id="imgMaquinaria" height="150px" width="150px">
                        <!-- <svg preserveAspectRatio="none" width="4vw" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.02 5H19V2.98c0-.54-.44-.98-.98-.98h-.03c-.55 0-.99.44-.99.98V5h-2.01c-.54 0-.98.44-.99.98v.03c0 .55.44.99.99.99H17v2.01c0 .54.44.99.99.98h.03c.54 0 .98-.44.98-.98V7h2.02c.54 0 .98-.44.98-.98v-.04c0-.54-.44-.98-.98-.98zM16 9.01V8h-1.01c-.53 0-1.03-.21-1.41-.58-.37-.38-.58-.88-.58-1.44 0-.36.1-.69.27-.98H5c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-8.28c-.3.17-.64.28-1.02.28-1.09-.01-1.98-.9-1.98-1.99zM15.96 19H6c-.41 0-.65-.47-.4-.8l1.98-2.63c.21-.28.62-.26.82.02L10 18l2.61-3.48c.2-.26.59-.27.79-.01l2.95 3.68c.26.33.03.81-.39.81z"></path>
                        </svg> -->
                        <input class="file" required type="file" name="img_maquinaria" id="id_img_maquinaria" value="null" accept="image/png, image/jpg, image/gif, image/jpeg"/>
                    </center>
                </label>
            </td>
            <td colspan="2">
                <input type="submit" value="Mandar Reporte" style="width: 100%; height: 90px;">
            </td>
        </tr>
    </table>
</form>
<script src="{% static 'js/calculos.js'%} "></script>
<script type="text/javascript">
    function mostrarImagen(input, prev){
        const image = document.getElementById(prev);
        //CAPTURAMOS LA IMAGEN SELECCIONADA
        input.addEventListener("change", (e) => {
            console.log(e.target.files[0]);
            let imageBinary = null;
            //LEEMOS EL BINARIO DE LA IMAGEN
            const reader = new FileReader();
            reader.readAsDataURL(e.target.files[0]);
            reader.onload = (e) => {
                e.preventDefault();
                image.setAttribute('src', e.target.result)
            };
        });

    }
    function ChangeColColor(chkCol,col) {
        var varCol = document.getElementById(col);
        var varColor = "gainsboro";
        if (chkCol.checked == true) {
            varColor = "palegreen";
        }
        varCol.style.backgroundColor = varColor;
    }
    function changeFunc() {
        var selectBox = document.getElementById("id_nombre_usuario");
        let selectedValue = selectBox.options[selectBox.selectedIndex].value;
        document.getElementById("idUsuarioInput").innerHTML = '<input type="hidden" name="p_id_persona"   id="id_p_id_persona" value="'+selectedValue+'">'
    }

</script>

{% endblock contenido %}