{% extends 'baseCuenta.html' %}
{% load static %}

{% block titulo %}
    Ver Reporte
{% endblock titulo %}

{% block contenido %}    
    {% if user.r_id_rol.id_rol == 1 %}
    <h1>Mis Reportes</h1>
    {% else %}
    <h1>Ver Reportes</h1>
    {% endif %}
    {% if reportes %}
        <div class="cartas-principales">
            {% for r in reportes %}
                <div class="carta-principal">
                    <a href="{% url 'reportesMaqman:detalleReport' r.id_reporte %}" class="card">
                        <div class="img-card">
                            
                            {% if r.img_report %}
                                <img src="{{ r.img_report.url }}" alt="imagen del reporte físico">
                            {% else %}
                                <img src="{% static 'img/imageNotFound.png' %}" alt="Imagen no encontrada">
                            {% endif %}
                                
                        </div>
                        <div class="contenido-card">
                            <textarea cols="50" rows="5" class="textarea-card" readonly>{{ r.cliente }}
                                {{ r.obra }}
                                {{ r.u_p_id_persona.p_id_persona.nombres }}
                            </textarea>
                            <!-- <textarea rows="4" cols="40" class="textarea-card" readonly>{{r.cliente}}{{r.obra}}</textarea> -->
                        </div>
                        <p class="pie-card">{{ r.fecha|date:'F d' }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h1>No existen reportes en este momento.</h1>
    {% endif %}
    {% include 'includes/pagination.html' %}
        
{% endblock contenido %}