{% extends 'baseCuenta.html' %}
{% load static %}

{% block titulo %}
    Ver Reporte
{% endblock titulo %}

{% block contenido %}
    <style>
        .carta{
            width: 300px;
            background-color: grey;
            border: 2px solid black;
            color: white;
            margin: 5px;
        }
        .carta:hover{
            background-color: red;
        }
        textarea{
            top: 0;
        }
    </style>
    
    {% if user.r_id_rol.id_rol == 1 %}
    <h1>Mis Reportes</h1>
    {% else %}
    <h1>Ver Reportes</h1>
    {% endif %}
        
    <div class="row">

        {% if reportes %}
            <div class="cartas-principales">
                {% for r in reportes %}
                    {% if user.r_id_rol.id_rol == 2 %}
                        <div class="carta-principal">
                            <a href="{% url 'reportesMaqman:detalleReport' r.id_reporte %}" class="card">
                                <div class="contenido-card">
                                    <textarea rows="4" cols="40" class="textarea-card" readonly>{{r.cliente}}
                                    {{r.obra}}</textarea>
                                </div>
                                <p class="pie-card">{{ r.fecha|date:'F d' }}</p>
                            </a>
                        </div>
                    {% else %}
                        {% if r.u_p_id_persona.p_id_persona == user.p_id_persona %}
                            <div class="carta-principal">
                                <a href="{% url 'reportesMaqman:detalleReport' r.id_reporte %}" class="card">
                                    <div class="contenido-card">
                                        <textarea rows="4" cols="40" class="textarea-card" readonly>{{r.cliente}}
                                        {{r.obra}}</textarea>
                                    </div>
                                    <p class="pie-card">{{ r.fecha|date:'F d' }}</p>
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <h1>No existen reportes en este momento.</h1>
        {% endif %}
    </div>
    {% include 'includes/pagination.html' %}
        
{% endblock contenido %}