{% extends 'baseCuenta.html' %}
{% load static %}

{% block titulo %}
    {{ usuario.p_id_persona.nombres }} {{ usuario.p_id_persona.apellido_paterno }} {{ usuario.p_id_persona.apellido_materno }}
{% endblock titulo %}

{% block contenido %}
<h1>{{ usuario.p_id_persona.nombres }} {{ usuario.p_id_persona.apellido_paterno }} {{ usuario.p_id_persona.apellido_materno }}</h1>
<center>
    <form action="{% url 'reportesMaqman:editarUsuario' %}" method="POST" style="width:100%;" id="formulario-editar-usuario" enctype="multipart/form-data">{% csrf_token %}
        <input type="hidden" name="id_persona" id="id_persona" value="{{usuario.p_id_persona.id_persona}}">
        <input type="hidden" name="tipo" value="detalle">
        <table>
            <th class="first" colspan="3">Datos personales:</th>
            <tr>
                <td rowspan="5" style="width: 20vw;">
                    <input oninput="mostrarImagen(this, 'imgPerfil');" class="file desaparece" type="file" name="img_perfil" id="id_img_perfil" accept="image/png, image/jpg, image/gif, image/jpeg">
                    <label for="id_img_perfil" style="text-align: center;">
                        <center  style="width: 15vw; height: 15vw; border-radius: 50%; display: block; margin: auto;">
                            <img 
                                class="img-perfil" 
                                id="imgPerfil" 
                            {% if usuario.p_id_persona.imagen %}
                                src="{{ usuario.p_id_persona.imagen.url }}" 
                                alt="Perfil" 
                            {% else %}
                                src="{% static 'img/usuario.png' %}" 
                                alt="Imagen no encontrada" 
                            {% endif %}
                                height="80%" 
                                width="80%"
                                style=" margin-top: 10%; border-radius: 50%;">
                        </center>
                    </label>
                </td>
            </tr>
            <tr>
                <td>Nombres:</td>
                <td>
                    <input class="text" type="text" name='nombres' id='id_nombres' value="{{ usuario.p_id_persona.nombres }}">
                </td>
            </tr>
            <tr>
                <td>Apellido Paterno:</td>
                <td>
                    <input class="text" type="text" name="apellido_paterno" id="id_apellido_paterno" value="{{ usuario.p_id_persona.apellido_paterno }}" required>
                </td>
            </tr>
            <tr>
                <td>Apellido Materno:</td>
                <td>
                    <input class="text" type="text" name="apellido_materno" id="id_apellido_materno" value="{{ usuario.p_id_persona.apellido_materno }}" required>
                </td>
            </tr>
            <tr>
                <td>RUT:</td>
                <td>
                    <input maxlength="10" oninput="formatRut('id_rut_usuario')" class="text" type="text" name="rut_usuario" id="id_rut_usuario" value="{{ usuario.rut_usuario }}" placeholder="12345678-9">
                </td>
            </tr>
            <th colspan="3">Contacto:</th>
            <tr>
                <td>Correo:</td>
                <td colspan="2">
                    <input class="text" type="email" name="correo" id="id_correo" value="{{ usuario.p_id_persona.correo }}"
                    {% if not usuario.p_id_persona.correo %}
                        placeholder="No registrado"
                    {% endif %}>
                </td>
            </tr>
            <tr>
                <td>Celular:</td>
                <td colspan="2">
                    <input type="number" min="100000000" max="999999999" name="celular" id="id_celular" value="{{ usuario.p_id_persona.celular }}" 
                    {% if not usuario.p_id_persona.celular %}
                        placeholder="No registrado"
                    {% endif %}
                        >
                </td>
            </tr>
            <th colspan="3">Usuario:</th>
            <tr>
                <td>Rol:</td>
                <td colspan="2">
                    <select name="rol" id="id_rol" required>
                        <option value="{{ usuario.r_id_rol.id_rol }}" selected> {{ usuario.r_id_rol.rol }}</option>
                    
                        {% for r in roles %}
                            
                            {% if usuario.r_id_rol != r %}
                                <option value="{{ r.id_rol }}">{{ r.rol }}</option>
                            {% endif %}
                                
                        {% endfor %}
                        
                    </select>
                </td>
            </tr>
            <tr>
                <td>Nombre de Usuario:</td>
                <td colspan="2"><input type="text" name="nombre_usuario" id="id_nombre_usuario" class="text" placeholder="Nombre de Usuario" required value="{{ usuario.nombre_usuario }}"></td>
            </tr>
            <tr>
                <td>Contraseña de Usuario:</td>
                <td colspan="2"><input type="text" name="contraseña_usuario" id="id_contraseña_usuario" class="text" placeholder="Contraseña de Usuario" required value="{{ usuario.contraseña_usuario }}">
                </td>
            </tr>
        </table>
        <table style="width: 100%; border-radius: 0;">
            <tr>
                <td>
                    
                    {% if usuario.r_id_rol.rol != "Asistente" %}
                    <button type="button" class="btn-submit btn-1" onclick="DescargarReporte('{{usuario.p_id_persona.id_persona}}', '{{ usuario.p_id_persona.nombres }} {{ usuario.p_id_persona.apellido_paterno }} {{ usuario.p_id_persona.apellido_materno }}');">Descargar Report.</button>
                    {% else %}
                    <button type="button" class="btn-submit btn-1" onclick="NoDescargar();">Report. no descargables</button>
                    {% endif %}
                    
                </td>
                <td>
                    <button type="button" class="btn-submit btn-1" onclick="EditarUsuario('{{ usuario.p_id_persona.nombres }} {{ usuario.p_id_persona.apellido_paterno }} {{ usuario.p_id_persona.apellido_materno }}');">Editar Usuario</button>
                </td>
                <td>
                    
                    <button type="button" class="btn-submit btn-2" onclick="DesactivarActivarUsuario('{{ usuario.is_active }}', '{{ usuario.p_id_persona.nombres }} {{ usuario.p_id_persona.apellido_paterno }} {{ usuario.p_id_persona.apellido_materno }}');">
                        {% if usuario.is_active %}
                        Desactivar Usuario
                        {% else %}
                        Activar Usuario
                        {% endif %}
                    </button>
                    
                </td>
            </tr>
        </table>
    </form>
    <form action="{% url 'reportesMaqman:cambiarActivo' %}" method="POST" id="formulario-cambiar-activo">{% csrf_token %}
        <input type="hidden" name="id_persona" id="id_persona" value="{{usuario.p_id_persona.id_persona}}">
    </form>

</center>
<script src="{% static 'js/mensajes.js'%} "></script>
<script src="{% static 'js/calculos.js'%} "></script>
<script src="{% static 'js/modal.js'%} "></script>
<script src="{% static 'js/mensajes.js'%} "></script>
<script src="{% static 'js/general.js'%} "></script>
{% endblock contenido %}
