{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Iniciar Sesión
{% endblock titulo %}

{% block contenido %}
<style>
    table, th, td{
        border: 2px solid black;
        font-size: 36px;
        color: black;
        align-content: center;
        justify-content: center;
    }
    input, textarea{
        font-size: 24px;
    }
    input.text{
        width: 100%;
    }
    input.fechahora{
        content: center;
    }
    input.check{
        width: 25px;
        height: 25px;
    }
    input.file{
        height: 100px;
    }
    textarea{
        width: 100%;
        text-align: center;
    }
    table{
        background-color: black;
        width: 100%;
    }
    th{
        background-color: gray;
    }
    td {
        background-color: gainsboro;
    }
    .btn-iniciarSesión{
        height: 50px;
        width: 100%;
    }
</style>
    <form method="POST"> {% csrf_token %}
        <table>
            <th colspan="2">Inicio de Sesión</th>
            <tr>
                <td colspan="2"><center><svg preserveAspectRatio="none" width="200px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"></path></svg></center></td>
            </tr>
            <tr>
                <td colspan="2">{{ form.nombre_usuario }}</td>
            </tr>
            <tr>
                <td colspan="2">{{ form.contraseña_usuario }}</td>
            </tr>
            <tr>
                <td colspan="2" style="font-size: 24px;"><input class="check" type="checkbox" name="" id="">Mantener conectado</td>
            </tr>
            <tr>
                <td colspan="2">
                <input type="submit" value="Iniciar Sesión" style="width: 100%;">
                </td>
            </tr>
        </table>
    </form>
{% endblock contenido %}
    