{% extends 'baseCuenta.html' %}
{% load static %}

{% block titulo %}
    Perfil
{% endblock titulo %}

{% block contenido %}
    <table>
        <th class="first" colspan="2">Perfil</th>
        <tr>
            <th colspan="2">Nombre Completo</th>
        </tr>
        <tr>
            <td>Nombres: </td>
            <td>{{ user.p_id_persona.nombres }}</td>
        </tr>
        <tr>
            <td>Apellido Paterno: </td>
            <td>{{ user.p_id_persona.apellido_paterno }}</td>
        </tr>
        <tr>
            <td>Apellido Materno: </td>
            <td>{{ user.p_id_persona.apellido_materno }}</td>
        </tr>
        <tr>
            <th colspan="2">Contacto</th>
        </tr>
        <tr>
            <td>Correo: </td>
            <td>
                {% if user.p_id_persona.correo %}
                    {{ user.p_id_persona.correo }}
                {% else %}
                    No tiene almacenado correo.
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Celular: </td>
            <td>
                {% if user.p_id_persona.celular %}
                    {{ user.p_id_persona.celular }}
                {% else %}
                    No tiene almacenado número de celular.
                {% endif %}
            </td>
        </tr>
        <tr>
            <th colspan="2">Usuario</th>
        </tr>
        <tr>
            <td>Nombre de Usuario: </td>
            <td>{{ user.nombre_usuario }}</td>
        </tr>
        <tr>
            <td>Contraseña: </td>
            <td>{{ user.contraseña_usuario }}</td>
        </tr>
    </table>
{% endblock contenido %}