{% extends 'baseCuenta.html' %}
{% load static %}

{% block titulo %}
    Perfil
{% endblock titulo %}

{% block contenido %}
    <form action="{% url 'reportesMaqman:editarUsuario' %}" method="POST" id="formulario-editar-usuario" enctype="multipart/form-data">{% csrf_token %}
        <input type="hidden" name="id_persona" value="{{ user.p_id_persona.id_persona }}">
        <input type="hidden" name="rol" value="{{ user.r_id_rol.id_rol }}">
        <input type="hidden" name="tipo" value="perfil">
        <table>
            <th class="first" colspan="3">Perfil</th>
            <tr>
                <th colspan="3">Datos personales</th>
            </tr>
            <tr>
                <td rowspan="5" style="width: 20vw;">
                    <input oninput="mostrarImagen(this, 'imgPerfil');" class="file desaparece" type="file" name="img_perfil" id="id_img_perfil" accept="image/png, image/jpg, image/gif, image/jpeg">
                    <label for="id_img_perfil" style="text-align: center;">
                        <center  style="width: 15vw; height: 15vw; border-radius: 50%; display: block; margin: auto;">
                            <img 
                                class="img-perfil" 
                                id="imgPerfil" 
                            {% if user.p_id_persona.imagen %}
                                src="{{ user.p_id_persona.imagen.url }}" 
                                alt="Perfil" 
                            {% else %}
                                src="{% static 'img/usuario.png' %}" 
                                alt="Imagen no encontrada" 
                            {% endif %}
                                height="80%" 
                                width="80%"
                                style=" margin-top: 10%; border-radius: 50%;">
                        </center>
                    </label>
                </td>
            </tr>
            <tr>
                <td style="width: 18vw;">Nombres:</td>
                <td>
                    <input class="text" type="text" name='nombres' id='id_nombres' value="{{ user.p_id_persona.nombres }}" placeholder="Nombres" required>
                </td>
            </tr>
            <tr>
                <td>Apellido Paterno:</td>
                <td>
                    <input class="text" type="text" name="apellido_paterno" id="id_apellido_paterno" value="{{ user.p_id_persona.apellido_paterno }}" placeholder="Apellido Paterno" required>
                </td>
            </tr>
            <tr>
                <td>Apellido Materno:</td>
                <td>
                    <input class="text" type="text" name="apellido_materno" id="id_apellido_materno" value="{{ user.p_id_persona.apellido_materno }}" placeholder="Apellido Materno" required>
                </td>
            </tr>
            <tr>
                <td>RUT:</td>
                <td>
                    <input class="text" type="text" name="rut_usuario" id="id_rut_usuario" value="{{ user.rut_usuario }}" placeholder="12345678-9" readonly>
                </td>
            </tr>

            <tr>
                <th colspan="3">Contacto</th>
            </tr>
            <tr>
                <td>Correo:</td>
                <td colspan="2">
                    <input class="text" type="email" name="correo" id="id_correo" value="{{ user.p_id_persona.correo }}"
                    {% if not user.p_id_persona.correo %}
                        placeholder="No registrado"
                    {% endif %}>
                </td>
            </tr>
            <tr>
                <td>Celular:</td>
                <td colspan="2">
                    <input type="number" min="100000000" max="999999999" name="celular" id="id_celular" value="{{ user.p_id_persona.celular }}" 
                    {% if not user.p_id_persona.celular %}
                        placeholder="No registrado"
                    {% endif %}
                        >
                </td>
            </tr>
            <tr>
                <th colspan="3">Usuario</th>
            </tr>
            {% if user.r_id_rol.id_rol == 2 %}
            <tr>
                <td>Nombre de Usuario:</td>
                <td colspan="2">
                    <input type="text" name="nombre_usuario" id="id_nombre_usuario" class="text" placeholder="Nombre de Usuario" required value="{{ user.nombre_usuario }}">
                </td>
            </tr>
            <tr>
                <td>Contraseña de Usuario:</td>
                <td colspan="2">
                    <input type="text" name="contraseña_usuario" id="id_contraseña_usuario" class="text" placeholder="Contraseña de Usuario" required value="{{ user.contraseña_usuario }}">
                </td>
            </tr>
            {% else %}
                <input type="hidden" name="nombre_usuario" id="id_nombre_usuario" class="text" value="{{ user.nombre_usuario }}">
                <input type="hidden" name="contraseña_usuario" id="id_contraseña_usuario" class="text" value="{{ user.contraseña_usuario }}">
            {% endif %}
            <tr>
                <td>Rol:</td>
                <td colspan="2">
                    <input type="text" readonly value="{{ user.r_id_rol.rol }}">
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <button type="button" class="btn-submit btn-1" onclick="EditarUsuario('{{ user.p_id_persona.nombres }} {{ user.p_id_persona.apellido_paterno }} {{ user.p_id_persona.apellido_materno }}');">Editar perfil</button>
                </td>
            </tr>
        </table>
    </form>
    <script src="{% static 'js/calculos.js'%} "></script>
    <script src="{% static 'js/modal.js'%} "></script>
    <script src="{% static 'js/mensajes.js'%} "></script>
    <script src="{% static 'js/general.js'%} "></script>
{% endblock contenido %}