{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Iniciar Sesión
{% endblock titulo %}

{% block contenido %}
<style>
    .btn-iniciar-sesion{
        height: 100px;
        width: 300px;
        border-radius: 5%;
        border: 2px solid black;
        background-color: gray;
        color: white;
        text-align: center;
        
    }
</style>
<div class="caja LogoMaqman">
    <a href="{% url 'reportesMaqman:home' %}">
        <div class="texto-maqman">
            <h1 style="font-size: 120px;">Inver-Maq</h1>
            <center><img src="/static/img/Logo inv maqman.png" alt="Logo de Inversiones Maqman S.P.A."></center>
        </div>
    </a>
</div>

<div class="caja inicio-sesion">
    <a href="{% url 'reportesMaqman:login-1' %}">
        <div class="button button-1">
            Iniciar Sesión
        </div>
    </a>
</div>

{% endblock contenido %}
    