{% extends 'baseCuenta.html' %}
{% load static %}

{% block titulo %}
    Vista Mantenciones
{% endblock titulo %}

{% block contenido %}
    <h1>Vista Mantenciones</h1>
    <div class="caja">
        <a href="{% url 'reportesMaqman:generarMantencion' %}" class="button button-1">
            <img src="{% static 'img/agregar_mantencion.png' %}" alt="Agregar mantención img" style="width: 15vw;">
            <br>
            Generar Mantención
        </a>
        <a href="{% url 'reportesMaqman:verMantenciones' %}" class="button button-1">
            <img src="{% static 'img/ver_mantenciones.png' %}" alt="Ver mantenciones img" style="width: 15vw;">
            <br>
            Ver Mantenciones
        </a>
        <!-- <a href="{% url 'reportesMaqman:descargarMantencion' %}" class="button button-1">
            <img src="{% static 'img/descargar_mantencion.png' %}" alt="Descargar mantención img" style="width: 15vw;">
            <br>
            Descargar Certificados
        </a> -->
    </div>
{% endblock contenido %}
