{% load static %}
<html lang="en">
    
    <head>
        
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/static/img/Logo inv maqman.jpg">
        
        <title>Inversiones Maqman S.P.A. - {% block titulo %}{% endblock titulo %}</title>
    </head>
    
    <body>
        {% include 'includes/messages.html' %}

        <link rel="stylesheet" href="{% static 'css/estilos/basePrincipal.css' %}">
        <link rel="stylesheet" href="{% static 'css/estilos/botones.css' %}">

        {% block contenido %}{% endblock contenido %}
    </body>

    
<script src="{% static 'js/calculos.js'%} "></script>
<script src="{% static 'js/general.js'%} "></script>
</html>