{% load static %}
<html lang="en">
    
    <head>
        
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/static/img/Logo inv maqman.jpg">
        
        <title>Inversiones Maqman S.P.A. - {% block titulo %}{% endblock titulo %}</title>
    </head>
    
    <body>

        <link rel="stylesheet" href="{% static 'css/estilos/basePrincipal.css' %}">
        <link rel="stylesheet" href="{% static 'css/estilos/botones.css' %}">

        <div class="caja LogoMaqman">
            <a href="{% url 'reportesMaqman:home' %}">
                <div class="texto-maqman">
                    <h1>Inversiones Maqman S.P.A.</h1>
                    <center><img src="/static/img/Logo inv maqman.png" alt="Logo de Inversiones Maqman S.P.A."></center>
                </div>
            </a>
        </div>

        <div class="caja inicio-sesion">
            <center>
                {% block contenido %}{% endblock contenido %}
            </center>
        </div>
    </body>

</html>