{% extends 'baseCuenta.html' %}
{% load static %}

{% block titulo %}
    Programar Correo
{% endblock titulo %}

{% block contenido %}
<h1>Programar Correo</h1>
<div class="caja">
    <table>
        <thead>
            <tr>
                <th class="first" colspan="2">Correo</th>
            </tr>
            <tr>
                <td>Asunto:</td>
                <td><input class="text" type="text" name="asuntoCorreo" id="idAsuntoCorreo" placeholder="Asunto del correo."></td>
            </tr>
            <tr>
                <td colspan="2">Cuerpo</td>
            </tr>
            <tr>
                <td colspan="2"><textarea name="cuerpoCorreo" id="idCuerpoCorreo" cols="30" rows="10" placeholder="Cuerpo del correo."></textarea></td>
            </tr>
            <tr>
                <td>Imagen Adjunta:</td>
                <td class="td-img">
                    <label for="id_img_maquinaria">
                        <center>
                            Maquinaria
                            <br>
                            <input oninput="mostrarImagen(this, 'imgMaquinaria');" class="file" required type="file" name="img_maquinaria" id="id_img_maquinaria" accept="image/png, image/jpg, image/gif, image/jpeg"/>
                            <br>
                        </center>
                    </label>
                    <center>
                        <img src="{% static 'img/imageNotFound.png' %}" alt="Imagen de la Maquinaria" id="imgMaquinaria" height="150px" width="150px">
                    </center>
                </td>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="2" style="background-color: rgba(0, 0, 0, 0);">
                    <button class="btn-submit btn-1" style="width: 150%; position: relative;">Programar Correo</button>
                </td>
            </tr>
        </tfoot>
    </table>
    <div class="cajita">
        <table>
            <thead>
                <tr>
                    <th colspan="3" class="first">Contactos</th>
                </tr>
                <tr>
                    <td colspan="3"><input class="text" type="text" name="Buscador" id="idBuscador"></td>
                </tr>
                <tr>
                    <th>Check</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                </tr>
            </thead>
            <tbody>
                {% if contacto %}
                    {% for c in contacto %}
                        <tr>
                            <td><input class="check" type="checkbox" name="checkbox" id="idCheckbox" value="{{ c.id_contacto }}"></td>
                            <td><input class="text" type="text" name="" id=""value="{{ c.nombre }}"></td>
                            <td><input class="text" type="text" name="" id="" value="{{ c.correo }}"></td>
                        </tr>
                    {% endfor %}
                {% else %}
                <tr>
                    <td colspan="3"><center>No existen contactos aún.</center></td>
                </tr>
                {% endif %}
            </tbody>
        </table>
        <style>
            /* .radio-btn + label>center{
                background-color: red;
                color: white;
            } */
            .radio-btn:checked + label>center{
                width: 100%;
                background-color: palegreen;
                color: black;
            }
            .fecha-hora{
                transition: all 3s ease-in-out;
            }
        </style>
        <table style="border-top-left-radius: 0;border-top-right-radius: 0;">
            <tr>
                <th colspan="2">Tipo de envío</th>
            </tr>
            {% for e in envios %}
                {% if e.id_tipo == 1 or e.id_tipo == 3 %}
                <tr>
                    <td>
                        <input class="radio-btn desaparece" type="radio" name="tipo_envio" id="radio-{{ e.id_tipo }}" value="{{ e.id_tipo }}">
                        <label style="width:100%;" for="radio-{{ e.id_tipo }}">
                            <center>{{ e.tipo }}</center>
                        </label>
                    </td>
                {% else %}
                    <td>
                        <input class="radio-btn desaparece" type="radio" name="tipo_envio" id="radio-{{ e.id_tipo }}" value="{{ e.id_tipo }}">
                        <label for="radio-{{ e.id_tipo }}">
                            <center>{{ e.tipo }}</center>
                        </label>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            <!-- Tipo de envío anual -->
            <tfoot class="fecha-hora" id="Anual" style="display: none;">
                <tr>
                    <th colspan="2">Seleccionar Día, Mes y Hora</th>
                </tr>
                <tr>
                    <td>
                        <select style="width: 45%;" id="dia" name="dia">
                            {% for d in dias %}
                                <option value="{{ d }}">{{ d }}</option>
                            {% endfor %}
                        </select>
                        <select style="width: 45%;" id="mes" name="mes">
                            {% for key, value in meses.items %}
                                <option value="{{ key }}">{{ value }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td><input type="time" name="" id=""></td>
                </tr>
            </tfoot>
            
            <!-- Tipo de envío mensual -->
            <tfoot class="fecha-hora" id="Mensual" style="display: none;">
                <tr>
                    <th colspan="2">Seleccionar Día del Mes y Hora</th>
                </tr>
                <tr>
                    <td>
                        <select style="width: 45%;" id="dia" name="dia">
                            {% for d in dias %}
                                <option value="{{ d }}">{{ d }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td><input type="time" name="" id=""></td>
                </tr>
            </tfoot>
            
            <!-- Tipo de envío semanal -->
            <tfoot class="fecha-hora" id="Semanal" style="display: none;">
                <tr>
                    <th colspan="2">Seleccionar Día de la Semana y Hora</th>
                </tr>
                <tr>
                    <td>
                        <select style="width: 45%;" id="dia" name="dia">
                            {% for key, value in semana.items %}
                                <option value="{{ key }}">{{ value }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td><input type="time" name="" id=""></td>
                </tr>
            </tfoot>
            
            <!-- Tipo de envío único -->
            <tfoot class="fecha-hora" id="Unico" style="display: none;">
                <tr>
                    <th colspan="2">Seleccionar Fecha y Hora</th>
                </tr>
                <tr>
                    <td><input type="date" name="" id=""></td>
                    <td><input type="time" name="" id=""></td>
                </tr>
            </tfoot>

        </table>
    </div>
    
</div>
<script>
    // Seleccionar todos los elementos input
    var inputs = document.querySelectorAll('input[type="radio"]');
    var tfoots = document.getElementsByClassName("fecha-hora");
  
    // Recorrer cada input y agregar un event listener
    inputs.forEach(function(input) {
      input.addEventListener('change', function() {
        var valor = input.getAttribute('value');
        if(valor == "1"){
            var tfoot = document.getElementById("Anual");
        }else if(valor == "2"){
            var tfoot = document.getElementById("Mensual");
        }else if(valor == "3"){
            var tfoot = document.getElementById("Semanal");
        }else if(valor == "4"){
            var tfoot = document.getElementById("Unico");
        }
        console.log(input);
        console.log(valor);
        console.log(tfoot);
        console.log(tfoots);
        
        if (this.checked) {
            for (let i = 0; i < tfoots.length; i++) {
                const element = tfoots[i];
                element.style.display = "none";
            }
            tfoot.style.display = "";
        }
                
      });
    });
</script>
<script src="{% static 'js/general.js'%} "></script>
{% endblock contenido %}