{% extends 'baseCuenta.html' %}
{% load static %}

{% block titulo %}
    Programar Correo
{% endblock titulo %}

{% block contenido %}
<h1>Programar Correo</h1>
<form action="{% url 'reportesMaqman:programarCorreo' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
    <div class="caja">
        <table>
            <thead>
                <tr>
                    <th class="first" colspan="2">Correo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Asunto:</td>
                    <td>{{ form.asunto }}</td>
                </tr>
                <tr>
                    <td colspan="2">Cuerpo</td>
                </tr>
                <tr>
                    <td colspan="2">{{ form.cuerpo }}</td>
                </tr>
                <tr>
                    <td class="td-img">
                        <label for="id_archivo">
                            <center>
                                Archivo
                                <br>
                                <input oninput="mostrarImagen(this, 'imgArchivo');" class="file" type="file" name="archivo" id="id_archivo" accept=".pdf, .docx, .xlsx" multiple/>
                                <br>
                            <!-- </center>
                            <center> -->
                                <img src="{% static 'img/imageNotFound.png' %}" alt="Imagen del archivo subido" id="imgArchivo" height="150px" width="150px">
                            </center>
                        </label>
                    </td>
                    <td class="td-img">
                        <label for="id_img">
                            <center>
                                Imagen
                                <br>
                                <input oninput="mostrarImagen(this, 'img');" class="file" type="file" name="img" id="id_img" accept="image/png, image/jpg, image/gif, image/jpeg" multiple/>
                                <br>
                            <!-- </center>
                            <center> -->
                                <img src="{% static 'img/imageNotFound.png' %}" alt="Imagen" id="img" height="150px" width="150px">
                            </center>
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="cajita">
            <table>
                <thead>
                    <tr>
                        <th colspan="3" class="first">Contactos</th>
                    </tr>
                    <td class="first" colspan="2">
                        <input onkeyup="filtrarUsuario();"class="text" type="text" name="buscador-contacto" id="id_buscador_contacto" placeholder="Buscar contactos" style="background-color: lightcyan;">
                    </td>
                    <!-- <tr>
                        <th>Check</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <td>
                            <center>
                                Contacto
                            </center>
                        </td>
                    </tr> -->
                </thead>
            </table>
            <div class="tabla-contactos">
                <table id="tableContactos" >
                    {% if contacto %}
                        {% for c in contacto %}
                            <tr>
                                <td>
                                    <input class="check desaparece" type="checkbox" name="checkbox" id="id{{ c.id_contacto }}" value="{{ c.id_contacto }}">
                                    <label style="width:100%;" for="id{{ c.id_contacto }}">
                                        <center>
                                            {{ c.nombre }}
                                            {{ c.correo }}
                                        </center>
                                    </label>
                                </td>
                                <td class="desaparece">{{ c.empresa }}</td>
                                <td class="desaparece">{{ c.cargo }}</td>
                                <td class="desaparece">{{ c.celular }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="2"><center>No existen contactos aún.</center></td>
                    </tr>
                    {% endif %}
                </table>
            </div>
            <table style="border-top-left-radius: 0;border-top-right-radius: 0;">
                <tr>
                    <th colspan="2">Tipo de envío</th>
                </tr>
                {% for e in envios %}
                    {% if e.id_tipo == 1 or e.id_tipo == 3 %}
                    <tr>
                        <td>
                            <input class="radio-btn desaparece" type="radio" name="tipo_envio" id="radio-{{ e.id_tipo }}" value="{{ e.id_tipo }}">
                            <label style="width:100%;" for="radio-{{ e.id_tipo }}">
                                <center>{{ e.tipo }}</center>
                            </label>
                        </td>
                    {% else %}
                        <td>
                            <input class="radio-btn desaparece" type="radio" name="tipo_envio" id="radio-{{ e.id_tipo }}" value="{{ e.id_tipo }}">
                            <label for="radio-{{ e.id_tipo }}">
                                <center>{{ e.tipo }}</center>
                            </label>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
                <!-- Tipo de envío anual -->
                <tfoot class="fecha-hora" id="Anual" style="display: none;">
                    <tr>
                        <th colspan="2">Seleccionar Día, Mes y Hora</th>
                    </tr>
                    <tr>
                        <td>
                            <select style="width: 45%;" id="diaAnual" name="diaAnual">
                                {% for d in dias %}
                                    <option value="{{ d }}">{{ d }}</option>
                                {% endfor %}
                            </select>
                            <select style="width: 45%;" id="mesAnual" name="mesAnual">
                                {% for key, value in meses.items %}
                                    <option value="{{ key }}">{{ value }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><input type="time" name="horaAnual" id="horaAnual"></td>
                    </tr>
                </tfoot>
                
                <!-- Tipo de envío mensual -->
                <tfoot class="fecha-hora" id="Mensual" style="display: none;">
                    <tr>
                        <th colspan="2">Seleccionar Día del Mes y Hora</th>
                    </tr>
                    <tr>
                        <td>
                            <select style="width: 45%;" id="diaMensual" name="diaMensual">
                                {% for d in dias %}
                                    <option value="{{ d }}">{{ d }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><input type="time" name="horaMensual" id="horaMensual"></td>
                    </tr>
                </tfoot>
                
                <!-- Tipo de envío semanal -->
                <tfoot class="fecha-hora" id="Semanal" style="display: none;">
                    <tr>
                        <th colspan="2">Seleccionar Día y Hora</th>
                    </tr>
                    <tr>
                        <td>
                            <select style="width: 45%;" id="diaSemanal" name="diaSemanal">
                                {% for key, value in semana.items %}
                                    <option value="{{ key }}">{{ value }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><input type="time" name="horaSemanal" id="horaSemanal"></td>
                    </tr>
                </tfoot>
                
                <!-- Tipo de envío único -->
                <tfoot class="fecha-hora" id="Unico" style="display: none;">
                    <tr>
                        <th colspan="2">Seleccionar Fecha y Hora</th>
                    </tr>
                    <tr>
                        <td><input type="date" name="fechaUnica" id="fechaUnica"></td>
                        <td><input type="time" name="horaUnica" id="horaUnica"></td>
                    </tr>
                </tfoot>
    
            </table>
        </div>
    </div>
    <button class="btn-submit btn-1" style="width: 100%; height: 70px;">Programar Correo</button>
</form>

<style>
    .tabla-contactos{
        height: 450px;
        width: 600px;
        overflow-y: scroll;
    }
    .check + label>center{
        width: 100%;
        /* background-color: red; */
    }
    .check:checked +label>center{
        background-color: palegreen;
    }
    .radio-btn + label>center{
        width: 100%;
        /* background-color: red; */
        /* color: white; */
    }
    .radio-btn:checked + label>center{
        width: 100%;
        background-color: palegreen;
        color: black;
    }
    .fecha-hora{
        transition: all 3s ease-in-out;
    }
    label>center:hover{
        background-color: orange;
    }
</style>
<script>
    // Seleccionar todos los elementos input
    var inputs = document.querySelectorAll('input[type="radio"]');
    var tfoots = document.getElementsByClassName("fecha-hora");
  
    // Recorrer cada input y agregar un event listener
    inputs.forEach(function(input) {
      input.addEventListener('change', function() {
        var valor = input.getAttribute('value');
        if(valor == "1"){
            var tfoot = document.getElementById("Anual");
        }else if(valor == "2"){
            var tfoot = document.getElementById("Mensual");
        }else if(valor == "3"){
            var tfoot = document.getElementById("Semanal");
        }else if(valor == "4"){
            var tfoot = document.getElementById("Unico");
        }
        console.log(input);
        console.log(valor);
        console.log(tfoot);
        console.log(tfoots);
        
        if (this.checked) {
            for (let i = 0; i < tfoots.length; i++) {
                const element = tfoots[i];
                element.style.display = "none";
            }
            tfoot.style.display = "";
        }
                
      });
    });
</script>
<script>
    function filtrarUsuario() {
        // Declare variables
        var input, filter, table, tr, td, i, j, txt, resultado;
        input = document.getElementById("id_buscador_contacto");
        filter = input.value.toUpperCase();
        table = document.getElementById("tableContactos");
        tr = table.getElementsByTagName("tr");
        
        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            resultado = '';
            for ( j = 0; j < 4; j++){
                td = tr[i].getElementsByTagName("td")[j];
                txt = td.textContent || td.innertext;
                console.log(td);
                resultado = resultado + txt + ' ';
                if (resultado.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    table.style.height = "5vw";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
<script src="{% static 'js/general.js'%} "></script>
{% endblock contenido %}